
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Teacher", "LoginTeacher", "Home")</li>
        <li>@Html.ActionLink("Student", "LoginStudent", "Home")</li>
    </ul>
</div>


