
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Teacher", "RegisterTeacher", "Home")</li>
        <li>@Html.ActionLink("Student", "RegisterStudent", "Home")</li>
    </ul>
</div>

